.list
  .head, .row
    display: flex
    > div
      flex: 1 0
      padding: 0.5rem
      &:first-child
        flex: 7rem 0
  .head > div
    text-align: center
  input
    width: 100%

div.editable
  transition: border-color 0.5s ease
