@function emphasize($color, $amount)
  @if lightness($color) > 50%
    @return lighten($color, $amount)
  @else
    @return darken($color, $amount)

@function downplay($color, $amount)
  @if lightness($color) > 50%
    @return darken($color, $amount)
  @else
    @return lighten($color, $amount)

=theme($bg, $color, $brand)
  html, body
    background: $bg
    color: $color
  input
    color: $color
    background: downplay($bg, 10%)

  input:-webkit-autofill
    box-shadow: 0 0 0 30px black inset
    color: inherit !important
    background-color: inherit !important

  div.editable
    background: downplay($bg, 10%)
    &:focus-within
      border-bottom-color: $brand !important

  .list
    $border-styles: 1px solid downplay($bg, 30%)
    .head > div
      border-top: $border-styles
    .head, .row
      > div
        border-right: $border-styles
        border-bottom: $border-styles
        &:first-child
          border-left: $border-styles
